body {
    background-color: white;
    margin: 0 auto;
    direction: rtl;
    text-align: right;
    color: white;
    font-family: 'Arial (Hebrew)', Arial;
    padding: 0;
    margin: 0;
}

.row {
    display: flex;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 0 10px;
}

.search {
    height: 14px;
}

.search img {
    margin-bottom: 0;
    height: 20px;
    float: left;
}

.top-menu {
    flex-basis: 100%;
    align-items: stretch;
    height: 100px;
    background-color: #848484;
    border-bottom: 10px solid #828282;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    align-items: flex-end;
    flex-grow: 1;
}

.top-menu .content {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 0;
}

.top-menu .logo {
    position: relative;
    top: 20%;
}

nav {
    color: white;
    display: flex;
    align-items: stretch;
    margin: auto;
}

nav>a {
    color: white;
    border-right: 1px solid white;
    padding: 5px;
    margin: auto;
    text-decoration: none;
    font-size: 1em;
}

.row {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}

.first>.item {
    height: 355px;
    flex-basis: 293px;
    border-radius: 0 0 15px 0;
    margin: 7px;
}

.second>.item {
    height: 216px;
    flex-basis: 293px;
    background-image: url("images/images/small_cube_bg.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #7e8082;
    border-radius: 0 20px 0 0;
    margin-right: 10px;
}

.second>.item,
.second>.item h4 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2em;
    text-align: center;
    margin-right: 5px;
    margin-top: 5px;
}

.second>.item img {
    margin: 0 10px 15px 0;
}

.second>.item a,
.second>.item p {
    color: #7e8082;
}

.first>.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    font-size: 13px;
    margin-top: 4px;
}

.first .item .bottom_text {
    background: url("images/images/hp_tab_text_bg.png") right bottom no-repeat;
    height: 100px;
    font-size: 1em;
    display: flex;
    margin: 6px;
    align-items: flex-start;
}

.first .item .bottom_text>.text {
    padding: 10px 5px 5px 13px;
    overflow: hidden;
}

.first .item .bottom_text>p {
    padding: 0;
}

.first .item .bottom_text>h4 {
    padding: 5px;
}

.second>.item p {
    text-align: start;
    color: gray;
}

.second>.item>.text>a {
    color: #72716d;
    border: 1px solid blue;
}

.second>.item>.text>.map {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

img.map {
    margin-bottom: 5px;
}

.second>.item>.text {
    height: 96%;
}

.second>.item>.text>.map>.content {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

.second>.item>.text>.map>.content nav {
    display: inline-block;
}

.read_more>a,
.read_more>img {
    float: left;
    color: white;
    margin-bottom: 5px;
}

.read_more>img:hover {
    src: url("images/images/read_more_blue.png");
    padding-top: 5px;
}

.read_more>img {
    padding-top: 5px;
}

.read_more>a:hover {
    color: blue;
}

.item {
    background-color: cadetblue;
}

.zikuk {
    background-image: url("images/images/zikuk.jpg");
    object-fit: cover;
    height: 100%;
}

.industries {
    background-image: url("images/images/industries.jpg");
    object-fit: cover;
    height: 100%;
}

.mishar {
    background-image: url("images/images/mishar_img.JPG");
    object-fit: cover;
    height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    height: 2em;
    background-color: #848484;
    width: 100%;
}

.clear {
    clear: both;
}